 .menu {
   max-width: 320px;
   width: 100%;
 }
 
 .menuList {
    display: grid;
    list-style: none;
    padding: 0;
    grid-row-gap: 15px;
    grid-template-columns: 284px;
  }
  .item {
    background-color: red;
  }
  .buttonHide{
    background-position: center;
    background-size: contain;
    background-color: inherit;
    background-image: url('../../../assets/images/icons/done-icon/hide-btn.png');
}
@media (min-width: 740px){
  .menu {
    width: 608px;
  }
  .menuList {
    display: grid;
    list-style: none;
    padding: 0;
    grid-column-gap: 40px;
    grid-row-gap: 24px;
    grid-template-columns: 284px 284px;
  }
}

@media (min-width: 940px){
  .menu{
    width: 934px;
  }
  .menuList {
    display: grid;
    list-style: none;
    padding: 0;
    grid-column-gap: 42px;
    grid-row-gap: 22px;
    grid-template-columns: 284px 284px 284px;
  }
}

@media (min-width: 1120px) {
  .menuList {
    grid-template-columns: 314px 314px 314px 314px;
  }
}

@media (min-width: 1920px) {
  .menuList {
    grid-template-columns: 314px 314px 314px 314px 314px;
  }
}
