.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle {
  font: 400 12px "HelveticaNeueCyr", sans-serif;
  display: inline-block;
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 25px;
  background-color: #3e4e6c;
  color: #fff;
  border-radius: 50%;
}

.name {
  font: 400 17px "HelveticaNeueCyr", sans-serif;
  color:#758ba7;
  letter-spacing: 1px;
}


@media (max-width: 767px) {
  .name {
    display: none;
  }
}

@media (min-width: 768px) {

  .circle {
    font: 400 17px "HelveticaNeueCyr", sans-serif;
    margin-right: 17px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
}
