* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin: 0 auto 25px;
  width: 284px;
  height: 264px;
  border-radius: 11px;
  background-color: #15395a;
  box-shadow: 0px 3px 20px 0px rgba(21, 57, 90, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card:hover {
  box-shadow: 0px 10px 20px 0px rgba(21, 57, 90, 0.45);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}

.difficultySelect_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropDownArrow {
  width: 12px;
  height: 12px;
  margin-left: 7px;
  cursor: pointer;
}

.cardMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}

.trophy {
  fill: #00d7ff;
  width: 20px;
  height: 20px;
}

.dateTimeContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.dateTimeContainer input {
  border: none;
  outline: none;
  text-align: center;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 15px;
  color: #b9c3c8;
  cursor: pointer;
  background-color: #15395a;
}

.dateTimeContainer>div>div {
  top: 30px;
  left: -20px;
}

.calendarIcon {
  fill: #00d7ff;
}

.title {
  width: 260px;
  text-align: center;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white;
}

.challangeTitle {
  text-transform: uppercase;
  text-align: center;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #b9c3c8;
}

.ArrowForGroupSelect {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  right: 5px;
}

.toolsContainer {
  width: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saveSvg {
  fill: #00d7ff;
  cursor: pointer;
}

.closeSvg {
  fill: #da0837;
  cursor: pointer;
}

.doneSvg {
  fill: #24d40c;
  cursor: pointer;
}

.strip {
  width: 2px;
  height: 30px;
  background-color: #e5e6e7;
}

.start {
  text-transform: uppercase;
  color: #00d7ff;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 18px;
}

@media (min-width: 768px) {
  .card {
    margin: 0 32px 30px 0;
  }

  .card:nth-child(2n) {
    margin: 0 0 30px 0;
  }
}

@media (min-width: 1200px) {
  .card {
    margin: 0 86px 30px 0;
  }

  .card:nth-child(2n) {
    margin: 0 86px 30px 0;
  }

  .card:nth-child(3n) {
    margin: 0 0 30px 0;
  }
}
