.logo {
  font-weight: bold;
  color: #00d7ff;
  letter-spacing: 1.5px;
  font: 800 15px 'HelveticaNeueCyrRoman', sans-serif;
}

@media (max-width: 767px) {
  .logo {
    margin-right: auto;
  }
}

  @media (min-width: 768px) {
    .logo {
      letter-spacing: 2px;
      font: 800 20px 'HelveticaNeueCyrRoman', sans-serif;;
    }
  }
  @media (min-width: 1920px) {
    .logo {
      font: 800 21px 'HelveticaNeueCyrRoman', sans-serif;
    }
  }
