.section {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.name {
  font-family: "HelveticaNeueCyrBold", sans-serif;
  font-size: 1rem;
  color: #00375b;
  text-transform: uppercase;
  margin: 1rem 0 1rem 30px;
}

@media (min-width: 768px) {
  .section {
    width: 600px;
    padding: 0;
  }

  .name {
    margin: 1rem 0 1rem 0;
  }
}

@media (min-width: 1200px) {
  .section {
    width: 1024px;
  }

  .name {
    margin: 2rem 0 2rem 0;
  }
}
