.groupContainer {
  text-transform: uppercase;
  font-family: "HelveticaNeueCyrRoman", sans-serif;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  border-radius: 0 60px 60px 0;
  padding: 0 25px 0 0;
}

.list {
  width: 140px;
  background-color: #fff;
  list-style: none;
  position: absolute;
  top: -115px;
  left: -23px;
  box-shadow: 0px 3px 20px 0px rgba(21, 57, 90, 0.08);
  padding: 12px;
  border-radius: 5px;
  z-index: 1;
}

.listItem {
  font-family: "HelveticaNeueCyrRoman", sans-serif;
  font-size: 11px;
  line-height: 20px;
  color: rgba(182, 196, 202, 255);
}

.listItem:hover {
  color: black;
}

.select {
  color: black;
}
