.button {
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  background: url('../../assets/images/logout/logout.svg');
  transform: rotate(180deg);
}

.logout {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 768px) {
  .button {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 1200px) {
  .button {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1920px) {
  .button {
    width: 40px;
    height: 40px;
  }
}
