.button {
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  background: url('../../assets/images/logout/logout.svg');
  transform: rotate(180deg);
}

.logout {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}