.container {
  width: 100%;
  background-color: #15395a;
}

.header {
  max-width: 280px;
  margin: 0 auto;
  font-family: 'Helvetica Neue Cyr Roman Bold';
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userControl {
  flex: 0 0 104px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.logostyle {
  display: block;
  width: 67px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 360px) {
  .header {
    min-width: 320px;
  }
}

@media (min-width: 768px) {
  .header {
    max-width: 600px;
    padding: 0;
    height: 74px;
  }

  .logostyle {
    width: 90px;
  }

  .userControl {
    flex: 1 0 auto;
  }
}

@media (min-width: 1200px) {
  .header {
    max-width: 1024px;
    height: 80px;
  }
}

@media (min-width: 1920px) {
  .header {
    max-width: 1736px;
    height: 80px;
  }

  .logostyle {
    width: 100px;
  }
}
