.container {
  width: 100%;
  background-color: #15395a;
}

.header {
  width: 400px;
  margin: 0 auto;
  font-family: 'Helvetica Neue Cyr Roman Bold';
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logostyle {
  display: block;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    width: 600px;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .header {
    width: 1024px;
    height: 90px;
  }
}
