.section {
  border-top: 1px dashed #d5dbdf;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 1rem auto 0;
  padding: 2rem 0;
  position: relative;
  min-height: 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.name {
  font-family: "HelveticaNeueCyrBold", sans-serif;
  font-size: 1rem;
  color: #00375b;
  text-transform: uppercase;
  margin: 1rem 0 1rem;
}

.lightName {
  color: #00d7ff;
}

.nameAndArrowContainer {
  position: absolute;
  top: -26px;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #f2f3f7;
  cursor: pointer;
}

.dropDowmArrowIcon {
  width: 15px;
  height: 15px;
  margin: 0 1rem;
}

.dropDowmArrowIconRotate {
  width: 15px;
  height: 15px;
  margin: 0 1rem;
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .section {
    max-width: 600px;
  }

  .name {
    margin: 1rem 0 1rem 0;
  }
}

@media (min-width: 1200px) {
  .section {
    max-width: 1024px;
  }

  .name {
    margin: 0;
  }

  .nameAndArrowContainer {
    position: absolute;
    top: -8px;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #f2f3f7;
  }
}

@media (min-width: 1920px) {
  .section {
    max-width: 1764px;
  }
}
