.selectList {
  cursor: pointer;
  display: block;
  width: 130px;
  list-style-type: none;
  border-radius: 12px;
  padding: 10px;
  margin: 0;
  position: absolute;
  /* top: 20px;
  left: 10px; */
}

.groupClosed {
  cursor: pointer;
  position: absolute;
  z-index: -1;
  top: 210px;
  left: 10px;
  text-transform: uppercase;
  /* background: red; */
  border-radius: 10px;
  display: block;
  width: 130px;
  height: 25px;
  /* margin-left: -50px; */
  /* box-shadow: -10px 0px 0px 0px; */
  border-radius: 0px 60px 60px 0px;
}

.groupsOpen {
  cursor: pointer;
  position: absolute;
  top: 200px;
  left: 0px;
}

.difficultyClosed {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 20px;
}

.difficultiesOpen {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 10px;
}

Work {
  background-color: #d3f6ce;
}

Family {
  background-color: #fee6d5;
}

Health {
  background-color: #ccf7ff;
}

Learning {
  background-color: #fcf2b7;
}

Stuff {
  box-shadow: -10px 0px 0px 0px red;
  background-color: red;
}

/* .previouslySelected {
  position: absolute;
  top: 60px;
  left: 10px;
} */

.difficulties:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.difficultyLink::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.Normal:before {
  background-color: #1fd705;
}

.Easy:before {
  background-color: #0ed6ff;
}

.Hard:before {
  background-color: #ed0338;
}

.groups {
  text-transform: uppercase;
}

.quest {
  background: #ffffff;
}

.challenge {
  background: #3f4e6d;
}

.quest li {
  cursor: pointer;
  color: #555555;
}

.quest .previouslySelected {
  color: #000000;
}

.challenge li {
  cursor: pointer;
  color: #999999;
}

.challenge .previouslySelected {
  color: #ffffff;
}