.challendgeTrue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  line-height: 20px;
  width: 22px;
  height: 22px;
  box-shadow: 0px 6px 13px 0 rgba(121, 215, 254, 0.43);
  background-color: #79d7fe;
}

.challendgeFalse {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  line-height: 20px;
  background-color: #3e4e6c;
}



.trophyNoActive {
  width: 10px;
  height: 10px;
  fill: #7b8aa4;
}

.trophyActive {
  width: 10px;
  height: 10px;
  fill: #20395a;
}


@media (min-width: 768px) {

  .challendgeTrue,
  .challendgeFalse {
    flex-grow: 0;
    margin-right: 32px;
    width: 35px;
    height: 35px;
  }

  .trophyActive, .trophyNoActive {
    width: 17px;
    height: 17px;
  }
}

@media (min-width: 1200px) {

  .challendgeTrue,
  .challendgeFalse {
    margin-right: 41px;
  }

  .trophyActive, .trophyNoActive {
    width: 17px;
    height: 17px;
  }
}
