* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin: 0 auto 25px;
  width: 284px;
  height: 264px;
  border-radius: 11px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 20px 0px rgba(21, 57, 90, 0.08);
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 0px 10px 20px 0px rgba(21, 57, 90, 0.15);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}

.difficultySelect_container {
  position: relative;
}

.cardMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
}

.starActive {
  width: 22px;
  height: 21px;
  fill: #00d7ff;
  -webkit-filter: drop-shadow( 0px 5px 7px rgba(0, 215, 255, 0.25));
  filter: drop-shadow( 0px 5px 7px rgba(0, 215, 255, 0.25));
}

.starActive svg {
  /* background: transparent;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow(0px 5px 7px 0 rgba(0, 215, 255, 0.2));
  box-shadow: 0px 5px 7px 0 rgba(0, 215, 255, 0.2); */
}

.starActive svg {
  width: 22px;
  height: 21px;
  fill: #00d7ff;
  background-color: transparent;

}

.starNoActive {
  display: none;
  width: 22px;
  height: 21px;
}

.title {
  width: 250px;
  text-align: center;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 28px;     /* fallback */
  max-height: 56px;
  display: block;    /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  /* -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto; */
  hyphens: auto;
}

.date {
  font-family: 'HelveticaNeueCyr', sans-serif;
  color: #b9c3c8;
  margin: 0;
  text-align: center;
  font-size: 15px;
}

.date::first-letter {
  text-transform: uppercase;
}

.editIcon {
  width: 22px;
  display: block;
  cursor: pointer;
}

.date_fire_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fire {
  fill: #fc842c;
  width: 23px;
  height: 30px;
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .card {
    margin: 0 32px 30px 0;
  }

  .card:nth-child(2n) {
    margin: 0 0 30px 0;
  }
}

@media (min-width: 1200px) {
  .card {
    margin: 0 86px 30px 0;
  }

  .card:nth-child(2n) {
    margin: 0 86px 30px 0;
  }

  .card:nth-child(3n) {
    margin: 0 0 30px 0;
  }
}

@media (min-width: 1920px) {
  .card {
    margin: 0 86px 30px 0;
  }

  .card:nth-child(3n) {
    margin: 0 86px 30px 0;
  }

  .card:nth-child(5n) {
    margin: 0 0 30px 0;
  }
}
